// General Mixins to use accross the Beers App

@import "./variables";
@import "./breakpoints";

@mixin custom-form-input-mixin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;

  svg {
    position: absolute;
    height: 2rem;
    left: 1rem;
    color: $primary-color;
  }

  input {
    background-color: transparent;
    color: $primary-text-color;
    padding: 1rem;
    border: 2px solid $primary-color;
    border-radius: 5px;
    max-width: 20rem;
    font-size: 1.125rem;
    outline: none;
    transition: border-color 0.3s ease-in-out;

    &::placeholder {
      color: $primary-text-color-light;
    }

    &[type="text"] {
      padding-left: 3.5rem;
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    position: fixed;
    top: 0.175rem;
    right: 0;
    z-index: 2;
    transform: scale(0.675);

    input {
      background-color: white;
      border: none;
      max-width: 20rem;
      border-radius: 10px;
      font-size: 1.25rem;

      &[type="text"] {
        padding-left: 4rem;
      }
    }
  }
}

@mixin custom-pagination-mixin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;

  button {
    width: 7.5rem;
    background-color: transparent;
    color: $primary-color;
    padding: 0.5rem 1rem;
    border: 2px solid $primary-color;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;

    &:hover {
      background-color: $primary-color;
      color: white;
    }

    &:disabled {
      color: white;
      background-color: #ccc;
      border: none;
      cursor: not-allowed;
    }
  }

  span {
    color: $primary-text-color-light;
    font-size: 1rem;
    margin: 0 1rem;
  }

  @media (min-width: map-get($grid-breakpoints, sm)) {
    button {
      width: 10rem;
    }

    span {
      margin: 0 3rem;
    }
  }

  @media (min-width: map-get($grid-breakpoints, xl)) {
    button {
      width: 12.5rem;
    }

    span {
      margin: 0 4rem;
    }
  }
}
