// Variables General Styles

//Color
$primary-color: lightseagreen;
$primary-color-dark: rgb(26, 143, 137);
// $primary-color-light: ;

//Text Color
$primary-text-color: #333;
$primary-text-color-light: rgb(107, 107, 107);

//Background Color
$primary-translucent-background: rgba($primary-color, 0.15);

//Favourite Beers Stars
$favourite-beer-star: goldenrod;
$no-favourite-beer-star: rgb(159, 159, 159);
$favourite-beer-star-background: rgba(218, 165, 32, 0.246);
