<section class="app-root">
  <div class="app-root__title">
    <h1>{{ appTitle | titlecase }}</h1>
    <div class="app-root__icons">
      <i class="title-icon home material-icons" routerLink="/">home</i>
      <i routerLink="/my-top-beers" class="title-icon star material-icons"
        >star</i
      >
    </div>
  </div>

  <a routerLink="/"><i class="header-icon home material-icons">home</i></a>
  <a routerLink="/my-top-beers"
    ><i class="header-icon star material-icons">star</i></a
  >
  <div class="app-root__header">
    {{ appTitle | titlecase }}
  </div>
  <router-outlet></router-outlet>
  <div class="app-root__footer">&copy;2023 by Javier Casto</div>
</section>
